@font-face {
    font-family: 'portada';
    src: url('../assets/Fonts/Butterpop.ttf');
}
@font-face {
    font-family: 'nav';
    src: url('../assets/Fonts/Milk\ Days.otf');
}
@font-face {
    font-family: 'titulos';
    src: url('../assets/Fonts/Blue\ Winter.otf');
}

:root{
    --llaollao: #95d400;
    --blanco: #f6f6f6;
}

/*Tipografía y Estructura General */
body {
    font-family: 'Open Sans', sans-serif; margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    color: #ACC1C2;
    /* Necesario para que el footer se quede abajo*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}



     /* /////////////////////// HEADER /////////////////////// */

header {
    background-color: #67a867d3;                                    
    padding: 10px;
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}
.header { 
    display: flex;
    color: #1b464b;
}

.logo{
    display: flex;
    flex-direction: row;
}
.logo:hover{transform: rotateY(360deg); transition-duration: 2s;}

.logo img{
    width: auto; /*se conecta con el height*/
    height: 100px;
}

#logoh1{
    color: #f6f6f6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

nav{
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap; /*el QUIENES SOMOS, en una linea*/
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'nav';
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

nav a:hover {color:#95D400;}

.logo{
    display: flex;
    flex-direction: row;
    text-shadow: 2px 2px 4px rgb(214, 214, 214);
}

.logo img{
    width: auto; /*se conecta con el height*/
    height: 90px;
}


 /*////////// EVENTOS SECCION /////////*/

  .eventos-section {
    padding: 30px 5%;
    background-color: #669A64;
    text-align: center;
    scroll-margin-top: 87px;
}

.titulo_eventos {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    border-bottom: 3px solid #ACC1C2;
    padding-bottom: 10px;
    display: inline-block;
}

/* /////////////////////// TARJETAS DE EVENTOS ///////////////////////// */

.galeria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 80px; 
    max-width: 1200px;
    margin: 0 auto 60px auto;
}


.evento_tarjeta {
    flex: 1 1 300px; 
    max-width: 350px;
    background-color: #f6f6f6;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.evento_tarjeta:hover {
    box-shadow: 0 8px 30px white;
    transform: scale(1.01);
}

.imagen_evento {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
}

.event-info {
    padding: 20px;
}

.event-info h3 {
    color: #3c413c;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
    
}

.event-info p {
    color: #000000;
    font-size: 0.95rem;
    margin-bottom: 15px;
}

.join-button {
    display: inline-block;
    justify-content: center;
    padding: 10px 15px;
    background-color: #669A64;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    transition: transform 0.1s ease;
    
}
.join-button:hover {transform: scale(1.1);}



/* /////////////// FOOTER ////////////////// */

.footer {
    background-color: #67a867d3;
    color: #1b464b;
    text-align: center;
    padding: 3px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #1b464b;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

a{text-decoration: none;}
