*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

ul{
    list-style: none;
    padding: 3%;
}
header{

    background-color: #1D454D;
    width: 100%;
}
.hea{
    text-align: center;
    font-size: 400%;
    color: white;
    text-shadow: 3px 3px 4px #527578;
    justify-content: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #537679;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.logoytitulo{
     width: 35%;      
     text-align: center;
     gap:10px;
}

.titulose{
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 4px #1D454D;
    
    
}
.imgsesion{
    width: 50%;
    height: 72%;
}

.cyc{
    display: flex;
    justify-content: center;
    font-size: 120%;
   margin-top: 4px;
 

}
input{
    border-radius: 80px;
    font-size: 80%;
    border: 3px  #537679 solid;
    outline: none;
    
}

input:hover{
    cursor: pointer;
}
.enter{
    background-color: #1b464b;
    width: 12%;
    color: white;
    border-radius: 7%;
    font-size: 100%;
    border: 3px #537679 solid;
    margin-top: 20px;
    margin-bottom: 25px;
}
hr{
    padding: 1%;
    color: white;
    border: none;
    height: 5%;

}

form{
    border-style:groove;
    border-color:#a3b6b7 solid;
    border-radius: 5%;
    list-style: none;
    padding: 4%;
    font-size: 130%;
    background-color: #24585f;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.regi{
    background-color: #537679;
    border-radius: 2%;

}

.b_reg{
    font-size: 120%;
    background-color:#24585F ;
    color: white;
    border: 2px white solid;
    border-radius: 6%;
    margin-top: -10%;
    padding: 1%;
}
.b_reg:hover{
    cursor: pointer;
    padding: 2%;
}

.registrate_IS{
    margin-top: 5%
    
}

footer{
    background-color:rgb(59, 88, 90); ;
    
}.main-footer {
    background-color: #a3b6b7;
    color: #1b464b;
    text-align: center;
    padding: 3px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

.main-footer a {
    color: #1b464b;
}

.b_google{
    background-color: #1b464b;
    width: 47%;
    border: 2px #ffffff solid;
    border-radius: 3%;
    padding: 2%;
    
}
.b_apple{
    background-color: #1b464b;
    width: 47%;
    border: 2px #ffffff solid;
    border-radius: 3%;
    padding: 2%;
    
}
.b_google:hover{
    cursor: pointer;
    padding: 1%;
}

.b_apple:hover{
    cursor: pointer;
    padding: 1%;
    outline: none;
}

.logoss{
    width: 12%;
    height: 50%;
}
.letras_logos{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 150%;

}
.botones_R{
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    
}

.header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 15px; 
    color: white;
    padding: 20px;
    text-decoration: none;
    border: none;
  }
  
 .logo  {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%; /* hace el logo redondo */
    margin-right: 5%;
    padding-top: 1%;
    text-decoration: none;
    border: none;
  }
  
  .header h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  