* {
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Nickelodeon';
    src: url('../assets/Fonts/Butterpop.ttf');
}
@font-face {
    font-family: 'MilkDays';
    src: url('../assets/Fonts/Milk\ Days.otf');
}

@font-face {
    font-family: 'Titulos';
    src: url('../assets/Fonts/Blue\ Winter.otf');
}
body {
    display: flex;
    flex-direction: column;  
    background-color:#e8fae4;
    font-family: 'Open Sans', sans-serif; margin: 0;
    min-height: 100vh;

}
header {
    width: 100%;
    background-color: #67a867d3;                                    
    padding: 10px;
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}
.header { 
    display: flex;
    color: #1b464b;
}

#div_h2{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

main{
    flex: 1;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.logo:hover{transform: rotateY(360deg); transition-duration: 2s;}

.logo img{
    width: auto; /*se conecta con el height*/
    height: 100px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap; /*el QUIENES SOMOS, en una linea*/
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'MilkDays';
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#evento_section_header{
    display: flex;
    margin-top: -2.5px;
    animation-name: latidos;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes latidos {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
    
}
nav a:hover {
    color:#95D400;
}

.iniciarsesionicon{
    width: 30px;             
    height: 30px;
    border-radius: 50%;    
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-right: 25px;
    animation-name: latidos-retrasos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes latidos-retrasos {
      5%{transform:scale(1.1);}
      7%{transform:scale(1.0);}
      9%{transform:scale(1.1);}
      20%{transform:scale(1.0)}
  }

  /*DESPLEGABLE INICIAR SESION*/
  
  #desplegable_iniciarsesion{
      position: relative;
      z-index: 1000;
  }
  
  .desplegableContenido{
      display: none;
      right: 0;
      background-color: white;
      min-width: 200px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      overflow: auto;
      position: absolute;
      z-index: 1000;
      
  }
  .desplegableContenido a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; /*Para que aparezca uno abajo de otro*/
      
    }
h2{ 
    font-family: 'titulos';
    text-align: center;
  
    font-size: 50px;
    color:#7CC37C;
    -webkit-text-stroke: 2px rgb(248, 248, 248); 
    animation-name: latidos;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes latidos {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.05);
    }
    100%{
        transform:scale(1);
    }
    
}

    section{
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .preguntas{
        justify-content: center;
        width: 70%;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: auto;
        border-radius: 12px;
        gap: 40px;
        margin-bottom: 50px;
        
    }


    h3{
        font-size: 21px;
        text-align:start;
    }

    p{
        font-size: 18px;
    }

    #pregunta{
        display: flex;
        text-align: start;
        flex-direction: column;
        padding: 10px;
        background-color: rgb(228, 228, 228);
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#pregunta:hover {box-shadow: 0 8px 30px rgb(0, 0, 0);
      transform: scale(1.05);
    transition-duration: 1s;
    cursor:grab;
}


.footer {
    width: 100%;
    background-color: #67a867d3;
    color: #1b464b;
    text-align: center;
    padding: 3px;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #1b464b;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    form {
        width: 90%;
    }

    #datos {
        grid-template-columns: 1fr;
    }

    #datos label {
        text-align: left;
    }
}