@font-face {
    font-family: 'portada';
    src: url('../assets/Fonts/Butterpop.ttf');
}
@font-face {
    font-family: 'nav';
    src: url('../assets/Fonts/Milk\ Days.otf');
}
@font-face {
    font-family: 'titulos';
    src: url('../assets/Fonts/Blue\ Winter.otf');
}

:root{
    --llaollao: #95d400;
    --blanco: #f6f6f6;
}

/*Tipografía y Estructura General */
body {
    font-family: 'Open Sans', sans-serif; margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    color: #ACC1C2;
    /* Necesario para que el footer se quede abajo*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* /////////////// HEADER ////////////////// */
header {
    background-color: #67a867d3;                                    
    padding: 10px;
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}
.header { 
    display: flex;
    color: #1b464b;
}

.logo{
    display: flex;
    flex-direction: row;

}
.logo:hover{transform: rotateY(360deg); transition-duration: 2s;}

.logo img{
    width: auto; /*se conecta con el height*/
    height: 100px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap; /*el QUIENES SOMOS, en una linea*/
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'nav';
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#evento_section_header{
    display: flex;
    margin-top: -2.2px;
    animation-name: latidos;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes latidos {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
    
}
nav a:hover {
    color:#95D400;
}

.iniciarsesionicon{
    width: 30px;             
    height: 30px;
    border-radius: 50%;    
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-right: 25px;
    animation-name: latidos-retrasos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes latidos-retrasos {
      5%{transform:scale(1.1);}
      7%{transform:scale(1.0);}
      9%{transform:scale(1.1);}
      20%{transform:scale(1.0)}
  }

  /*DESPLEGABLE INICIAR SESION*/
  
  #desplegable_iniciarsesion{
      position: relative;
      z-index: 1000;
  }
  
  .desplegableContenido{
      display: none;
      right: 0;
      background-color: white;
      min-width: 200px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      overflow: auto;
      position: absolute;
      z-index: 1000;
      
  }
  .desplegableContenido a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; /*Para que aparezca uno abajo de otro*/
      
    }


        /*/////////////////// PORTADA ////////////////////*/

.portada {
    min-height: calc(100vh - 60px); ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'portada';                                                
    align-items: center;
    color: #ffffff;                                                 
    text-align: center;
    padding: 20px;
    overflow: hidden; /* Para que el video no se salga del contenedor */
}

.videoFondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
    z-index: -1;
}

.portada h1 {
    font-size: 750%;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    transform: translateY(-150px);
    text-shadow: 12px 12px 24px rgba(0, 0, 0, 0.6);
}

.portada .eslogan {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;                                            
    padding-top: 10px;
    transform: translateY(-180px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/*W3SCCHOOLS BOTON DESPLEGABLE*/
.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-inline: 20px;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
  }
  .dropdown {
    top: 120px;            /* distancia desde arriba */
    right: 20px;          /* distancia desde la derecha */
    position: absolute;
    z-index: 900;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}


        /*/////////////////// EVENTOS SECCION ////////////////////*/

.eventos-section {
    padding: 30px 5%;
    padding-bottom: 5%;
    background-color: #669A64;
    text-align: center;
    scroll-margin-top: 87px;
    height: 600px;
}

#tarjeta_evento_one{
    transform: rotate(-4deg);
    margin-top: 10px;
    animation: shake1 3s infinite; /*name duración repetición*/
}
@keyframes shake1 {
    10%{ transform: rotate(-5deg); }
    15%{ transform: rotate(-3deg); }
    20%{ transform: rotate(-5deg); }
    25%{ transform: rotate(-3deg);}
    30%{ transform: rotate(-4deg); }
}

#tarjeta_evento_two{
    margin-inline: 40px;
    animation: shake2 3s infinite; 
}
@keyframes shake2 {
    10%{ transform: rotate(1deg); }
    15%{ transform: rotate(-1deg); }
    20%{ transform: rotate(1deg); }
    25%{ transform: rotate(-1deg);}
    30%{ transform: rotate(0deg); }
}

#tarjeta_evento_three{
    transform: rotate(4deg);
    margin-top: 10px;
    animation: shake3 3s infinite;
}
@keyframes shake3 {
    10%{ transform: rotate(5deg); }
    15%{ transform: rotate(3deg); }
    20%{ transform: rotate(5deg); }
    25%{ transform: rotate(3deg); }
    30%{ transform: rotate(4deg); }
}


.titulo_seccion_eventos {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    border-bottom: 3px solid #ACC1C2;
    padding-bottom: 10px;
    display: inline-block;
}

/* Galería de Eventos */

.event-gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
    max-width: 1200px;
    margin: 0 auto 60px auto;
}

.evento_tarjeta {
    flex: 1 1 300px; 
    max-width: 350px;
    background-color: #f6f6f6;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.evento_tarjeta:hover {box-shadow: 0 8px 30px white;}

.event-image {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    display: block;
}

.event-info {
    padding: 20px;
}

.event-info h3 {
    color: #3c413c;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
    
}

.event-info p {
    color: #000000;
    font-size: 0.95rem;
    margin-bottom: 15px;
}

.join-button {
    display: inline-block;
    justify-content: center;
    padding: 10px 15px;
    background-color: #669A64;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    transition: transform 0.1s ease;
    
}
.join-button:hover {transform: scale(1.1);}

#verdetallesboton_flechas{
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;     /* centro vertical */
    gap: 15px;
    margin-top: 10px;
}
.flechaD {
    font-size: 1.4rem;
    font-weight: bold;
    color: #3c413c;
    user-select: none;
    animation: flechasD 4s infinite;
}
@keyframes flechasD {
    4%{transform:translateX(5px);}
    8%{transform: none;}
    12%{transform: translate(5px);}
    20%{transform: none;}
}

.flechaI {
    font-size: 1.4rem;
    font-weight: bold;
    color: #3c413c;
    user-select: none;
    animation: flechasI 4s infinite;
}
@keyframes flechasI {
    4%{transform:translateX(-5px);}
    8%{transform: none;}
    12%{transform: translate(-5px);}
    20%{transform: none;}
}


.boton_evento{
    background-color: white;
    display: inline-block;
    padding: 12px 44px;
    border-radius: 25px;
    text-decoration: none;
    border: 4px solid #c4c4c4;
    color: #000000;
    border-width: 3px;
    animation: boton-incitar 2s infinite;
}
@keyframes boton-incitar {
    50%{transform: scale(1.1);}
    100%{transform: none;}
}
    
.boton_evento:hover{
background-color: var(--llaollao); transition: 0.6s; color: white;
}




/* /////////////// VOLUNTARIO ORGANIZADOR ////////////////// */

#eres_voluorga{
    display: flex;
    flex-direction: row;
}

#eres_voluntario{
    display: flex;
    font-size: 65px;
    white-space: nowrap; /*en una linea*/
    color: white;
    font-family: 'titulos';
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    margin: 100px 0px 0px 120px;    /*En sentido del reloj*/
    -webkit-text-stroke: 2px black;
    animation: latidosvoluorga 2s infinite;
}
@keyframes latidosvoluorga {
    0%{transform:scale(1);}
    50%{transform:scale(1.02);}
    100%{transform:scale(1);}
}

#eres_organizador{
    display: flex;
    font-size: 65px;
    white-space: nowrap; /*en una linea*/
    color: white;
    font-family: 'titulos';
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    margin: 100px 0px 0px 150px;    /*En sentido del reloj*/
    -webkit-text-stroke: 2px black;
    animation: latidosvoluorga 2s infinite;
}
@keyframes latidosvoluorga {
    0%{transform:scale(1);}
    50%{transform:scale(1.02);}
    100%{transform:scale(1);}
}

#voluntario_organizador_img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

#registrate_volu{
    color: rgb(255, 255, 255);
    position: relative;
    left: 430px;
    bottom: 100px;
    transform: scale(2);
    background-color: var(--llaollao);
    border-radius: 18px;
    border: 2px solid #95D400;
    animation: latidos-retrasos-boton 3s infinite;
    font-family: 'nav';
}

#registrate_orga{
    color: rgb(255, 255, 255);
    position: relative;
    left: 1260px;
    bottom: 100px;
    transform: scale(2);
    background-color: var(--llaollao);
    border-radius: 18px;
    border: 2px solid #95D400;
    animation: latidos-retrasos-boton 3s infinite;
    font-family: 'nav';
}
@keyframes latidos-retrasos-boton {
    5%{transform:scale(2.1);}
    7%{transform:scale(2.0);}
    9%{transform:scale(2.1);}
    20%{transform:scale(2.0)}
}
#registrate_orga:hover{background-color: #83b411;}
#registrate_volu:hover{background-color: #83b411;}





    /* /////////////// ODS SECCION ////////////////// */

#divods{
    background: url('../assets/fondoODS_borroso.jpg');
    padding-bottom: 200px;
}


#ods-section{
    display: grid;
    grid-template-columns: repeat(3, 200px); /*LE DIGO: quiero 3 columnas de 200px, repeat es= repite 3 veces el cuadro. es lo mismo que grid-template colums: 200px 200px 200px*/
    gap: 150px;
    justify-content: center;
    align-items: center;
}


.odsimg{ /*limito el tamaño de las imagenes para que no se salgan de las columnas*/
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#odsimg:hover{
    transform: scale(1.04);
}


/*para que aparezca la imagen al pararse sobre los ods*/
.articleods {
    position: relative;
}

.odsimg {
    width: 100%;
    display: block;
}

.hoverimg {
    position: absolute;
    top: -1;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.articleods:hover .hoverimg {
    opacity: 1;
}




#odstitle{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 60px;
    padding-top: 60px;
    color: white;
}



  /* /////////////// FOOTER ////////////////// */
.footer {
    background-color: #67a867d3;
    color: #1b464b;
    text-align: center;
    padding: 3px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #1b464b;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

 /* /////////////// RESPONISVE ////////////////// */

 @media screen and (max-width:768px) {
    

/* /////////////// HEADER ////////////////// */
header {
    background-color: #67a867d3;                                    
    padding: 5px;
    padding-inline: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}
.header { 
    display: flex;
    color: #1b464b;
}

.logo{
    display: flex;
    flex-direction: row;

}
.logo:hover{transform: rotateY(360deg); transition-duration: 2s;}

.logo img{
    width: auto; /*se conecta con el height*/
    height: 50px;
}


/* /////////////// portada ////////////////// */

.portada{
    display: flex;
    font-size: 8px;
    min-height: auto;
}

#titulo_eslogan{
     margin-top: 200px;
}





.dropbtn {
    font-size: 10px;
}

.dropdown {
    top: 60px;            /* distancia desde arriba */
    right: 8px;          /* distancia desde la derecha */
  }
  .dropdown-content a {
    font-size: 12px;
 }




 .titulo_seccion_eventos {
    font-size: 30px;
}

.eventos-section{
    height: auto;
}

.evento_tarjeta{
    height: 350px;
}

.flechaD{
    animation: flechasD 3s infinite;
}

.flechaI{
    animation: flechasI 3s infinite;
}

#tarjeta_evento_two{
    height: 400px;
}

#tarjeta_evento_one{
    animation: none;
    transform: none;
    max-width: 220px;
    height: 400px;
}
#tarjeta_evento_two{
    animation: none;
    transform: none;
    max-width: 300px;
}
#tarjeta_evento_three{
    animation: none;
    transform: none;
    max-width: 220px;
    height: 400px;
}

.join-button{
    font-size: 14px;
    padding: 8px;
}

.boton_evento{
    font-size: 12px;
}


}